/*-----基本設定-----*/
*{
  margin: 0;
  padding: 0;
}

.white{
  background-color: #FDFDFD;
}

.Lgray{
  background-color: #C4C4C4;
}

.gray{
  background-color: #8D8D8D;
}

.black{
  background-color: #222228;
}

.gold{
  background-color: #B4AA7C;
}

.sky{
  background-color: #B5D6D6;
}

.text-white{
  color: #FDFDFD;
}

.text-black{
  color: #000;
}

.text-gold{
  color: #B4AA7C;
}

body{
  position: relative;
}

.main-1{
  position: absolute;
  left: 10vw;
}

main{
  position: relative;
}

p{
  font-family: Roboto;
  font-size: 1.875rem;
  text-align: left;
  z-index: 90;
  text-overflow: ellipsis;
  display: -webkit-box;
}

/*-----選單-----*/


nav{
  position: absolute;
  top: 1.5vh;
  left: 3.1vw;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 10.3vw));
  width: 80vw;
  z-index: 90;
}

a{
  text-decoration: none;
  color: #000;
}

a:hover{
  color: #B4AA7C;
}

.nav{
  width: 10vw;
  height: 4.6vh;
  font-size: 1.875rem;
  text-align: center;
  font-weight: 600;
}

/*-----活動介紹-----*/
.bg-1{
  width: 80vw;
  height: 144.9vh;
  z-index: 0;
}

.bg-3{
  position: absolute;
  top: 8.7vh;
  left: 6.2vw;
  width: 62vw;
  height: 144.9vh;
  z-index: 5;
}

.text-1-2{
  position: absolute;
  top: 70.8vh;
  left: 8.33vw;
  width: 23.4vw;
  height: 5.55vh;
  text-align: center;
  font-size: 3rem;
}

.text-1-title{
  position: absolute;
  top: 105.3vh;
  left: 30.7vw;
  width: 13.5vw;
  height: 5.5vh;
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 2px 2px #B4AA7C;
}

.text-1-p{
  position: absolute;
  top: 115vh;
  left: 9.2vw;
  width: 57.2vw;
  height: 27.7vh;
  text-align: center;
  overflow-y: auto;
  text-shadow: 2px 2px #B4AA7C;
}

.bg-4 img{
  position: absolute;
  top: 17.3vh;
  left: 8vw;
  width: 62vw;
  height: 52.7vh;
  z-index: 10;
}

.bg-5 img{
  position: absolute;
  top: 15.4vh;
  left: 7vw;
  width: 62vw;
  height: 52.7vh;
  z-index: 15;
}

.video iframe{
  position: absolute;
  top: 70.9vh;
  left: 32.5vw;
  width: 33.3vw;
  height: 33.3vh;
  z-index: 15;
}

.live img{
  position: absolute;
  top: 77.5vh;
  left: 10.4vw;
  width: 25vw;
  height: 33.3vh;
  z-index: 10;
}

/*-----校長的話-----*/
#a2{
  width: 80vw;
  height: 74.5vh;
  z-index: 0;
}

.bg-16{
  position: absolute;
  top: 144.9vh;
  left: 6.2vw;
  width: 62vw;
  height: 74.5vh;
  z-index: 5;
}

.line img{
  position: absolute;
  top: 129.2vh;
  left: 6.6vw;
  width: 1.5vw;
  height: 74vh;
  z-index: 10;
}

.text-4-title{
  position: absolute;
  top: 158.4vh;
  left: 11.8vw;
  width: 18.2vw;
  height: 4.6vh;
  font-size: 2.25rem;
  font-weight: 600;
}

.text-4-p{
  position: absolute;
  top: 163.6vh;
  left: 11.8vw;
  width: 15.6vw;
  height: 7.4vh;
  font-size: 3rem;
  font-weight: 900;
}

.text-4-p-2{
  position: absolute;
  top: 171.6vh;
  left: 11.8vw;
  width: 36.4vw;
  height: 37vh;
  font-size: 1.5rem;
  overflow-y: auto;
}

.little-div{
  position: absolute;
  top: 165vh;
  width: 7.1vw;
  height: 4.2vh;
  text-align: center;
  font-size: 1.625rem;
  padding-top: 5px;
  z-index: 10;
}

.little-div:hover{
  font-size: 1.8rem;
  color: #B4AA7C;
  padding: 2.9px 0;
  cursor: pointer;
}

#video{
  left: 32.7vw;
}

#flicker{
  left: 41.2vw;
}

.liu-1 img{
  position: absolute;
  top: 147.3vh;
  left: 57.6vw;
  width: 13vw;
  height: 37vh;
  z-index: 15;
}

.liu-3 img{
  position: absolute;
  top: 186.8vh;
  left: 52.4vw;
  width: 18.2vw;
  height: 24.2vh;
  z-index: 15;
}

/*-----主題人物-----*/
#a3{
  width: 80vw;
  height: 72vh;
  z-index: 0;
}

.bg-17{
  position: absolute;
  top: 219.3vh;
  left: 6.2vw;
  width: 62vw;
  height: 72vh;
  z-index: 5;
}

.left-top img{
  position: absolute;
  top: 281.8vh;
  left: 21.7vw;
  width: 10.4vw;
  height: 18.4vh;
  z-index: 10;
}

.text-5-title{
  position: absolute;
  top: 242.3vh;
  left: 35.5vw;
  width: 18.2vw;
  height: 4.6vh;
  font-size: 2.25rem;
  font-weight: 600;
}

.text-5-p{
  position: absolute;
  top: 253.4vh;
  left: 34.2vw;
  width: 15.6vw;
  height: 7.4vh;
  font-size: 3rem;
  font-weight: 600;
}

.text-5-p-2{
  position: absolute;
  top: 260.8vh;
  left: 34.2vw;
  width: 31.2vw;
  height: 23.1vh;
  overflow-y: auto;
}

.ko-3 img{
  position: absolute;
  top: 225vh;
  left: 20.6vw;
  width: 13vw;
  height: 17.3vh;
  z-index: 15;
}

#letter{
  position: absolute;
  top: 246vh;
  left: 60.7vw;
  width: 6.2vw;
  height: 11.1vh;
  z-index: 15;
}

#letter:hover{
  top: 245.2vh;
  left: 59.35vw;
  width: 7.8vw;
  height: 13.8vh;
  cursor: pointer;
}

#jumpout{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #191919ce;
  z-index: 99;
  display: none;
}

#jumpout p{
  position: fixed;
  top: 20vh;
  left: 25vw;
  width: 50vw;
  height: 60vh;
  border: 1px solid #000000;
  padding: 3%;
  font-family: Arial;
  overflow-y: scroll;
  z-index: 99;
}

.ko-1 img{
  position: absolute;
  top: 231.1vh;
  left: 3.5vw;
  width: 15.6vw;
  height: 37vh;
  z-index: 15;
}

.ko-2 img{
  position: absolute;
  top: 244.9vh;
  left: 16.5vw;
  width: 15.6vw;
  height: 37vh;
  z-index: 20;
}

/*-----關於導演-----*/
.bg-2{
  width: 80vw;
  height: 64.8vh;
  z-index: 0;
}

.img-99 img{
  position: absolute;
  top: 296.6vh;
  right: 3.4vw;
  width: 9.1vw;
  height: 11.9vh;
  z-index: 5;
}

.bg-6{
  position: absolute;
  top: 347.2vh;
  left: 0vw;
  width: 15.6vw;
  height: 2.7vh;
  z-index: 5;
}

.text-2{
  position: absolute;
  top: 308.9vh;
  left: 6.2vw;
  width: 62.5vw;
  height: 27.7vh;
}

.text-2-more{
  position: absolute;
  top: 338.4vh;
  left: 5.7vw;
  width: 5.7vw;
  height: 3vh;
  cursor: pointer;
  font-size: 1.625rem;
}

#more-mi-jump{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #191919ce;
  z-index: 99;
  display: none;
}

#more-mi-jump p{
  position: fixed;
  top: 20vh;
  left: 25vw;
  width: 50vw;
  height: 60vh;
  border: 1px solid #000000;
  padding: 3%;
  font-family: Arial;
  overflow-y: scroll;
  z-index: 99;
}

.text-2-mi{
  position: absolute;
  top: 339vh;
  left: 54.6vw;
  width: 13vw;
  height: 4.6vh;
  font-size: 3rem;
  text-align: center;
}

/*-----活動議題-----*/
.bg-7{
  width: 80vw;
  height: 94.3vh;
  z-index: 0;
}

.bg-8{
  position: absolute;
  top: 347vh;
  left: 26vw;
  width: 41.6vw;
  height: 103.6vh;
  z-index: 5;
}

.slider-div-3{
  position: absolute;
  top: 356.2vh;
  left: 0vw;
  width: 80vw;
  height: 94.3vh;
  z-index: 10;
}

.r-2{
  position: relative;
  width: 80vw;
  height: 94.3vh;
  z-index: 15;
}

.bg-9-img img{
  position: absolute;
  top: -2vh;
  left: 35.3vw;
  width: 31.2vw;
  height: 41.6vh;
  z-index: 30;
}

.bg-24-img img{
  position: absolute;
  top: 45.5vh;
  left: 37.5vw;
  width: 31.2vw;
  height: 37vh;
  z-index: 25;
}

.bg-25-img img{
  position: absolute;
  top: 39.5vh;
  left: 3.9vw;
  width: 26vw;
  height: 30.8vh;
  z-index: 30;
}

.bg-26-img img{
  position: absolute;
  top: 8.1vh;
  left: 18.3vw;
  width: 28.6vw;
  height: 33.9vh;
  z-index: 35;
}

.bg-26 img{
  position: absolute;
  top: 51.3vh;
  left: 23.4vw;
  width: 13vw;
  height: 42vh;
  z-index: 40;
}

.bg-10{
  position: absolute;
  top: 32.5vh;
  left: 65vw;
  width: 1.5vw;
  height: 32.4vh;
  z-index: 35;
}

.left-bottom img{
  position: absolute;
  top: 69.4vh;
  left: 6.2vw;
  width: 10.4vw;
  height: 18.5vh;
  z-index: 20;
}

.text-3{
  position: absolute;
  top: 28vh;
  left: 8.6vw;
  width: 31.2vw;
  height: 55.5vh;
  z-index: 25;
}

.text-3-1{
  position: absolute;
  top: 12.5vh;
  left: 8.1vw;
  width: 31.2vw;
  height: 55.5vh;
  z-index: 20;
}

.text-3-2{
  position: absolute;
  top: 30.6vh;
  left: 40.9vw;
  width: 31.2vw;
  height: 55.5vh;
  border: 1px solid #000000;
  z-index: 20;
}

.text-3-3{
  position: absolute;
  top: 36.4vh;
  left: 38.3vw;
  width: 31.2vw;
  height: 55.5vh;
  border: 1px solid #000000;
  z-index: 25;
}

.line-2-2 img{
  position: absolute;
  top: 50.3vh;
  left: 40.1vw;
  width: 31.2vw;
  height: 37vh;
  z-index: 20;
}

.slider-nav{
  width: 80vw;
  height: 94.3vh;
}

.text-3-title{
  width: 23.4vw;
  height: 6.9vh;
  font-size: 3rem;
  margin-top: 81px;
  margin-left: 2.6vw;
  font-weight: 600;
}

.text-3-p{
  width: 29.6vw;
  height: 27.7vh;
  margin-top: 4vh;
  margin-left: 1.5vw;
}

.text-3-title-2{
  width: 26vw;
  height: 6.9vh;
  font-size: 3rem;
  margin-top: 148px;
  margin-left: 1.2vw;
  font-weight: 600;
}

.text-3-p-2{
  width: 29.6vw;
  height: 6.4vh;
  margin-top: 4vh;
  margin-left: 2.6vw;
}

.text-3-title-3{
  width: 23.4vw;
  height: 13.8vh;
  font-size: 3rem;
  margin-top: 89px;
  margin-left: 2.6vw;
  font-weight: 600;
}

.text-3-p-3{
  width: 29.6vw;
  height: 9.2vh;
  margin-top: 4vh;
  margin-left: 1.5vw;
}

.ourland{
  margin-bottom: 10.2vh;
  margin-left: 22.9vw;
  width: 5.7vw;
  height: 3vh;
  cursor: pointer;
  font-size: 1.625rem;
}

#more-ourland-jump{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #191919ce;
  z-index: 99;
  display: none;
}

#more-ourland-jump p{
  position: fixed;
  top: 20vh;
  left: 25vw;
  width: 50vw;
  height: 60vh;
  border: 1px solid #000000;
  padding: 3%;
  font-family: Arial;
  overflow-y: scroll;
  z-index: 99;
}

.liu-talk{
  margin-top: 9.7vh;
  margin-left: 23.3vw;
  width: 5.7vw;
  height: 3vh;
  cursor: pointer;
  font-size: 1.625rem;
}

#more-liu-jump{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #191919ce;
  z-index: 99;
  display: none;
}

#more-liu-jump p{
  position: fixed;
  top: 20vh;
  left: 25vw;
  width: 50vw;
  height: 60vh;
  border: 1px solid #000000;
  padding: 3%;
  font-family: Arial;
  overflow-y: scroll;
  z-index: 99;
}

.talk{
  margin-top: 3.3vh;
  margin-left: 21.8vw;
  width: 5.7vw;
  height: 3vh;
  cursor: pointer;
  font-size: 1.625rem;
}

#more-talk-jump{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #191919ce;
  z-index: 99;
  display: none;
}

#more-talk-jump p{
  position: fixed;
  top: 20vh;
  left: 25vw;
  width: 50vw;
  height: 60vh;
  border: 1px solid #000000;
  padding: 3%;
  font-family: Arial;
  overflow-y: scroll;
  z-index: 99;
}

/*-----合照-----*/
.bg-27{
  width: 80vw;
  height: 83.3vh;
  z-index: 0;
}

.bg-27-2{
  position: relative;
  width: 80vw;
  height: 83.3vh;
  z-index: 5;
}

.bg-28{
  position: absolute;
  top: 0;
  left: 26vw;
  width: 41.6vw;
  height: 83.3vh;
  z-index: 5;
}

.slider-div-4{
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 80vw;
  height: 83.3vh;
  z-index: 10;
}

.s{
  margin: 11.8vh 2.6vw;
  width: 41.6vw;
  height: 55.5vh;
}

.l{
  margin: 11.8vh 2.6vw;
  width: 59.4vw;
  height: 55.5vh;
}

/*-----活動心得-----*/
.bg-11{
  width: 80vw;
  height: 83.33333vh;
  z-index: 0;
}

.bg-12{
  position: absolute;
  top: 532.5vh;
  left: 26vw;
  width: 41.6vw;
  height: 84.6vh;
  z-index: 5;
}

.slider-div-2{
  position: absolute;
  top: 527.5vh;
  left: 0vw;
  width: 80vw;
  height: 83.33333vh;
  z-index: 10;
}

.r{
  position: relative;
  width: 80vw;
  height: 83.33333vh;
  z-index: 15;
}

.pic-title{
  position: absolute;
  height: 4.6vh;
  font-size: 2.25rem;
  font-weight: 900;
}

.pic-p{
  position: absolute;
  font-size: 1.125rem;
  overflow-y: auto;
}

.pic1-1{
  position: absolute;
  top: 11.5vh;
  left: 4.4vw;
  width: 5.2vw;
  height: 55.5vh;
  z-index: 20;
}

.pic1-2{
  position: absolute;
  top: 8.5vh;
  left: 16.6vw;
  width: 26vw;
  height: 30.8vh;
  z-index: 20;
}

.pic1-2-t{
  top: 19.3vh;
  left: 46vw;
  width: 15.6vw;
}

.pic1-2-p{
  top: 25.5vh;
  left: 46vw;
  width: 26vw;
  height: 21.8vh;
}

.pic1-3{
  position: absolute;
  top: 51.2vh;
  left: 51.3vw;
  width: 20.8vw;
  height: 24.6vh;
  z-index: 20;
}

.pic1-3-t{
  top: 53.3vh;
  left: 33.8vw;
  width: 13vw;
  text-align: right;
}

.pic1-3-p{
  top: 60vh;
  left: 16.3vw;
  width: 31.2vw;
  height: 18.5vh;
}

.pic2-1{
  position: absolute;
  top: 4.7vh;
  left: 2.8vw;
  width: 5.2vw;
  height: 74vh;
  z-index: 20;
}

.pic2-2{
  position: absolute;
  top: 11vh;
  left: 37.5vw;
  width: 15.6vw;
  height: 37vh;
  z-index: 20;
}

.pic2-3{
  position: absolute;
  top: 6.4vh;
  left: 55.3vw;
  width: 17.5vw;
  height: 46.2vh;
  z-index: 20;
}

.pic2-1-t{
  top: 14.6vh;
  left: 22.5vw;
  width: 13vw;
  text-align: right;
}

.pic2-1-p{
  top: 21.2vh;
  left: 10vw;
  width: 26vw;
  height: 27.7vh;
}

.pic2-4-2{
  position: absolute;
  top: 57.4vh;
  left: 14vw;
  width: 20.8vw;
  height: 24.6vh;
  z-index: 20;
}

.pic2-4{
  position: absolute;
  top: 54.2vh;
  left: 15.6vw;
  width: 20.8vw;
  height: 24.6vh;
  z-index: 25;
}

.pic2-4-t{
  top: 51.8vh;
  left: 38.8vw;
  width: 15.6vw;
}

.pic2-4-p{
  top: 58vh;
  left: 38.8vw;
  width: 28.6vw;
  height: 23.1vh;
}

.pic3-1{
  position: absolute;
  top: 9.4vh;
  left: 0;
  width: 33.8vw;
  height: 9.2vh;
  z-index: 20;
}

.pic3-2{
  position: absolute;
  top: 25.2vh;
  left: 2.6vw;
  width: 26vw;
  height: 30.8vh;
  z-index: 20;
}

.pic3-2-t{
  top: 5vh;
  left: 34.7vw;
  width: 7.8vw;
}

.pic3-2-p{
  top: 11.5vh;
  left: 34.7vw;
  width: 33.8vw;
  height: 23.1vh;
}

.pic3-3{
  position: absolute;
  top: 35.6vh;
  left: 56.8vw;
  width: 15.6vw;
  height: 40.1vh;
  z-index: 20;
}

.pic3-3-t{
  top: 46.4vh;
  left: 44.3vw;
  width: 10.4vw;
  text-align: right;
}

.pic3-3-p{
  top: 53.4vh;
  left: 32.9vw;
  width: 21.8vw;
  height: 27.7vh;
}

.pic4-1{
  position: absolute;
  top: 71.57407407407408vh;
  left: 39.3vw;
  width: 26vw;
  height: 9.2vh;
  z-index: 20;
}

.pic4-2{
  position: absolute;
  top: 32.6vh;
  left: 2.4vw;
  width: 28.1vw;
  height: 33.4vh;
  z-index: 20;
}

.pic4-3{
  position: absolute;
  top: 4.7vh;
  left: 47.5vw;
  width: 17.5vw;
  height: 45.9vh;
  z-index: 20;
}

.pic4-3-t{
  top: 11.2vh;
  left: 26.3vw;
  width: 13vw;
  text-align: right;
}

.pic4-3-p{
  top: 17.3vh;
  left: 10.6vw;
  width: 28.6vw;
  height: 11.1vh;
}

.pic4-3-t-2{
  top: 50.6vh;
  left: 35.4vw;
  width: 13vw;
}

.pic4-3-p-2{
  top: 57.4vh;
  left: 35.4vw;
  width: 28.6vw;
  height: 11.1vh;
}

.pic5-1{
  position: absolute;
  top: 10vh;
  left: 0;
  width: 20.8vw;
  height: 9.2vh;
  z-index: 20;
}

.pic5-2{
  position: absolute;
  top: 22.2vh;
  left: 3.3vw;
  width: 15.6vw;
  height: 37vh;
  z-index: 20;
}

.pic5-3{
  position: absolute;
  top: 22.2vh;
  left: 21.7vw;
  width: 20.8vw;
  height: 27.7vh;
  z-index: 20;
}

.pic5-4{
  position: absolute;
  top: 3.3vh;
  left: 46.1vw;
  width: 20.8vw;
  height: 27.7vh;
  z-index: 20;
}

.pic5-4-t{
  top: 34.6vh;
  left: 45.3vw;
  width: 15.6vw;
}

.pic5-4-p{
  top: 41.3vh;
  left: 45.3vw;
  width: 20.8vw;
  height: 13.8vh;
}

.pic5-5{
  position: absolute;
  top: 57.4vh;
  left: 38.7vw;
  width: 22.6vw;
  height: 23.2vh;
  z-index: 20;
}

.pic5-5-t{
  top: 59.3vh;
  left: 23vw;
  width: 13vw;
  text-align: right;
}

.pic5-5-p{
 top: 65.4vh;
 left: 7.3vw;
 width: 28.6vw;
 height: 11.1vh;
}

/*-----合作團隊-----*/
.bg-29{
  width: 80vw;
  height: 68.5vh;
  z-index: 0;
}

.r-3{
  position: relative;
  width: 80vw;
  height: 68.5vh;
  z-index: 5;
}

.club-title{
  position: absolute;
  top: 5.1vh;
  height: 9.2vh;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  z-index: 10;
}

.c-t-3{
  width: 13.33vw;
}

.c-t-1{
  width: 2.1354166666666667vw;
}

#fhmg{
  left: 5.88vw;
}

#x{
  left: 24.010416666666667vw;
}

#fhic{
  left: 30.89vw;
}

#x2{
  left: 49.01041666666667vw;
}

#human{
  left: 57.55vw;
}

.group{
  position: absolute;
  top: 13.7vh;
  width: 23.4vw;
  height: 27.7vh;
  z-index: 10;
}

#g1{
  left: 0.7291666666666667vw;
}

#g2{
  left: 25.729166666666664vw;
}

#g3{
  left: 50.83333333333333vw;
}

.link{
  position: absolute;
  top: 45.37037037037037vh;
  width: 15.625vw;
  height: 4.6296296296296294vh;
  padding-top: 3px;
  text-align: center;
  font-size: 1.875rem;
  z-index: 10;
}

#link-1{
  left: 4.635416666666667vw;
}

#link-2{
  left: 29.739583333333336vw;
}

#link-3{
  left: 54.63541666666667vw;
}

.arrow{
  position: absolute;
  top: 56.48148148148148vh;
  width: 5.0140625vw;
  height: 4.861111111111111vh;
  cursor: pointer;
  z-index: 50;
}

#arrow-1{
  left: 9.947916666666666vw;
  transition: all 0.5s ease-in-out;
  z-index: 50;
}

#arrow-2{
  left: 35vw;
  transition: all 0.5s ease-in-out;
  z-index: 50;
}

#arrow-3{
  left: 60.05208333333333vw;
  transition: all 0.5s ease-in-out;
  z-index: 50;
}

#club-1{
  width: 80vw;
  height: 171.2962962962963vh;
  display: none;
}

.c-r-1{
  width: 80vw;
  height: 166vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  column-gap: 4.635416666666667vw;
  row-gap: 4.259259259259259vh;
}

.club img{
  width: 15.625vw;
  height: 31vh;
}

.name{
  width: 15.625vw;
  height: 4.6296296296296294vh;
  padding: 50px 0px;
  color: #B4AA7C;
  font-size: 3.25rem;
  text-align: center;
  font-weight: 900;
}

.work{
  width: 15.625vw;
  height: 4.6296296296296294vh;
  color: #FDFDFD;
  text-align: center;
}

#club-2{
  width: 80vw;
  height: 120.37037037037037vh;
  display: none;
}

.c-r-2{
  width: 80vw;
  height: 56vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  column-gap: 4.635416666666667vw;
  row-gap: 4.259259259259259vh;
}

.c-r-3{
  width: 80vw;
  height: 60.18518518518518vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  column-gap: 4.635416666666667vw;
  row-gap: 4.259259259259259vh;
}

#club-3{
  width: 80vw;
  height: 120.37037037037037vh;
  display: none;
}

.c-r-4{
  position:relative;
  width: 80vw;
  height: 120.37037037037037vh;
}

.line-5{
  position: absolute;
  top: 73.6vh;
  left: 5.36vw;
  width: 36.45vw;
  height: 36.45vh;
}

.hu2{
  position: absolute;
  top: 69.35vh;
  left: 8.17vw;
  width: 36.45vw;
  height: 36.45vh;
}

.hu1{
  position: absolute;
  top: 4.62vh;
  left: 14.06vw;
  width: 46.875vw;
  height: 55.55vh;
}

.bg-30{
  position: absolute;
  bottom: 0;
  left: 58.17vw;
  width: 13vw;
  height: 55.55vh;
}

.text-10{
  font-size: 3rem;
  font-weight: 900;
  margin: 30px 50px;
}

/*-----頁尾-----*/
.bg-18{
  width: 80vw;
  height: 60.5vh;
}

.bg-18-2{
  position: relative;
}

.bg-19 img{
  position: absolute;
  top: 16.7vh;
  left: 7.4vw;
  width: 52vw;
  height: 13.8vh;
}

.bg-20 img{
  position: absolute;
  top: 40.4vh;
  left: 15.2vw;
  width: 52vw;
  height: 13.8vh;
}

.bg-21 img{
  position: absolute;
  top: 64vh;
  left: 7.4vw;
  width: 52vw;
  height: 13.8vh;
}

.bg-22{
  position: absolute;
  top: 6.2vh;
  left: 1.7vw;
  width: 62.5vw;
  height: 46.2vh;
}

.bg-23{
  position: absolute;
  top: 28.6vh;
  left: 57.1vw;
  width: 15.6vw;
  height: 18.5vh;
}

.line-3 img{
  position: absolute;
  top: -14.8vh;
  left: 59.4vw;
  width: 14.2vw;
  height: 41.9vh;
}

.text-7-title{
  position: absolute;
  left: 1vw;
  width: 10.4vw;
  height: 4vh;
  font-size: 2.25rem;
}

#t1{
  top: 6vh;
}

#t2{
  top: 22.9vh;
}

#t3{
  top: 41.8vh;
  left: 6.9vw;
  width: 52vw;
  height: 9.2vh;
  font-size: 1.5rem;
}

.fhsh img{
  position: absolute;
  top: 15.1vh;
  left: 10.8vw;
  width: 7.8vw;
  height: 11.1vh;
}

.fa img{
  position: absolute;
  top: 18.8vh;
  left: 20.9vw;
  width: 22vw;
  height: 7.4vh;
}

.human img{
  position: absolute;
  top: 15.5vh;
  left: 45.4vw;
  width: 12.3vw;
  height: 10.7vh;
}

.pan img{
  position: absolute;
  top: 31.2vh;
  left: 10.8vw;
  width: 20.6vw;
  height: 13.1vh;
}

.text-8-title{
  margin: 1.3vh 3vw 1.3vh 3vw;
  width: 13vw;
  height: 2.7vh;
  font-size: 1.5rem;
}

.text-8-p{
  margin: 1.4vh 2.6vw;
  width: 10.4vw;
  height: 2.7vh;
  text-align: center;
  font-size: 1.5rem;
}

.text-9-p{
  position: absolute;
  top: 36vh;
  left: 36vw;
  width: 23.4vw;
  height: 4.6vh;
  font-size: 2.625rem;
  font-family: DFKai-sb;
}

@media screen and (max-width: 800px){
  .main-1{
   left: 0vw;
 }

 p,
 .nav,
  .text-1-2,
  .text-1-title,
  .text-4-title,
  .text-4-p,
  .text-4-p-2,
  .little-div,
  .little-div:hover,
  .text-5-title,
  .text-5-p,
  .text-2-more,
  .text-2-mi,
  .text-3-title,
  .text-3-title-2,
  .text-3-title-3,
  .ourland,
  .liu-talk,
  .talk,
  .pic-title,
  .pic-p,
  .club-title,
  .link,
  .name,
  .text-10,
  .text-7-title,
  #t3,
  .text-8-title,
  .text-8-p,
  .text-9-p
  {
    font-size: 0.8rem;
  }
 
  body,.main-1,nav,.bg-1,#a2,#a3,.bg-2,.bg-7,.slider-div-3,.r-2,.slider-nav,.bg-27,.bg-27-2,.slider-div-4,.bg-11,.slider-div-2,.r,.bg-29,.r-3,#club-1,.c-r-1,#club-2,.c-r-2,.c-r-3,#club-3,.c-r-4,.bg-18
  {
    width: 100vw;
  }




}