/*-----基本設定-----*/
*{
  margin: 0;
  padding: 0;
}

.white{
  background-color: #FDFDFD;
}

.Lgray{
  background-color: #C4C4C4;
}

.gray{
  background-color: #8D8D8D;
}

.black{
  background-color: #191919;
}

.gold{
  background-color: #B4AA7C;
}

.sky{
  background-color: #B5D6D6;
}

.text-white{
  color: #FDFDFD;
}

.text-black{
  color: #000;
}

.text-gold{
  color: #B4AA7C;
}

body{
  position: relative;
}

.main-1{
  position: absolute;
  left: 10vw;
}

main{
  position: relative;
}

p{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.875rem;
  text-align: left;
}

/*-----選單-----*/
nav{
  position: absolute;
  top: 1.5vh;
  left: 3.1vw;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 10.3vw));
  width: 80vw;
}

a{
  text-decoration: none;
  color: #000;
}

a:hover{
  color: #B4AA7C;
}

.nav{
  width: 10vw;
  height: 4.6vh;
  font-size: 1.875rem;
  text-align: center;
}

/*-----活動介紹-----*/
.bg-1{
  width: 80vw;
  height: 144.9vh;
}

.bg-3{
  position: absolute;
  top: 8.7vh;
  left: 6.2vw;
  width: 62vw;
  height: 144.9vh;
}

.text-1-title{
  position: absolute;
  top: 105.3vh;
  left: 30.7vw;
  width: 13.5vw;
  height: 5.5vh;
  font-size: 3rem;
  font-weight: 900;
}

.text-1-p{
  position: absolute;
  top: 115vh;
  left: 9.2vw;
  width: 57.2vw;
  height: 27.7vh;
  text-align: center;
}

.bg-4 img{
  position: absolute;
  top: 17.3vh;
  left: 8vw;
  width: 62vw;
  height: 52.7vh;
}

.bg-5 img{
  position: absolute;
  top: 15.4vh;
  left: 7vw;
  width: 62vw;
  height: 52.7vh;
}

.video iframe{
  position: absolute;
  top: 70.9vh;
  left: 32.5vw;
  width: 33.3vw;
  height: 33.3vh;
}

.live img{
  position: absolute;
  top: 77.5vh;
  left: 10.4vw;
  width: 25vw;
  height: 33.3vh;
}

/*-----校長的話-----*/
#a2{
  width: 80vw;
  height: 74.5vh;
}

.bg-16{
  position: absolute;
  top: 144.9vh;
  left: 6.2vw;
  width: 62vw;
  height: 74.5vh;
}

.line img{
  position: absolute;
  top: 129.2vh;
  left: 6.6vw;
  width: 1.5vw;
  height: 74vh;
}

.text-4-title{
  position: absolute;
  top: 158.4vh;
  left: 11.8vw;
  width: 18.2vw;
  height: 4.6vh;
  font-size: 2.25rem;
  font-weight: 600;
}

.text-4-p{
  position: absolute;
  top: 163.6vh;
  left: 11.8vw;
  width: 15.6vw;
  height: 7.4vh;
  font-size: 3rem;
  font-weight: 900;
}

.text-4-p-2{
  position: absolute;
  top: 171.6vh;
  left: 11.8vw;
  width: 36.4vw;
  height: 37vh;
  font-size: 1.5rem;
}

.little-div{
  position: absolute;
  top: 165vh;
  width: 7.1vw;
  height: 4.2vh;
  text-align: center;
  font-size: 1.625rem;
  padding-top: 5px;
}

.little-div:hover{
  font-size: 1.8rem;
  color: #B4AA7C;
  padding: 2.9px 0;
  cursor: pointer;
}

#video{
  left: 32.7vw;
}

#flicker{
  left: 41.2vw;
}

.liu-1 img{
  position: absolute;
  top: 147.3vh;
  left: 57.6vw;
  width: 13vw;
  height: 37vh;
}

.liu-3 img{
  position: absolute;
  top: 186.8vh;
  left: 52.4vw;
  width: 18.2vw;
  height: 24.2vh;
}

/*-----主題人物-----*/
#a3{
  width: 80vw;
  height: 72vh;
}

.bg-17{
  position: absolute;
  top: 219.3vh;
  left: 6.2vw;
  width: 62vw;
  height: 72vh;
}

.left-top img{
  position: absolute;
  top: 281.8vh;
  left: 21.7vw;
  width: 10.4vw;
  height: 18.4vh;
}

.text-5-title{
  position: absolute;
  top: 242.3vh;
  left: 35.5vw;
  width: 18.2vw;
  height: 4.6vh;
  font-size: 2.25rem;
  font-weight: 600;
}

.text-5-p{
  position: absolute;
  top: 253.4vh;
  left: 34.2vw;
  width: 15.6vw;
  height: 7.4vh;
  font-size: 3rem;
  font-weight: 600;
}

.text-5-p-2{
  position: absolute;
  top: 260.8vh;
  left: 34.2vw;
  width: 31.2vw;
  height: 23.1vh;
}

.ko-3 img{
  position: absolute;
  top: 225vh;
  left: 20.6vw;
  width: 13vw;
  height: 17.3vh;
}

#letter{
  position: absolute;
  top: 246vh;
  left: 60.7vw;
  width: 6.2vw;
  height: 11.1vh;
}

#letter:hover{
  width: 7.8vw;
  height: 13.8vh;
  cursor: pointer;
}

#jumpout{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #191919ce;
  z-index: 99;
  display: none;
}

#jumpout-img{
  position: fixed;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  height: 60vh;
  border: 1px solid #000000;
  border-radius: 30px;
}

.ko-1 img{
  position: absolute;
  top: 231.1vh;
  left: 3.5vw;
  width: 15.6vw;
  height: 37vh;
}

.ko-2 img{
  position: absolute;
  top: 244.9vh;
  left: 16.5vw;
  width: 15.6vw;
  height: 37vh;
}

/*-----關於導演-----*/
.bg-2{
  width: 80vw;
  height: 64.8vh;
}

.img-99 img{
  position: absolute;
  top: 296vh;
  left: 3.2vw;
  width: 9.1vw;
  height: 10.7vh;
}

.bg-6{
  position: absolute;
  top: 347.2vh;
  left: 0vw;
  width: 15.6vw;
  height: 2.7vh;
}

.text-2{
  position: absolute;
  top: 308.9vh;
  left: 6.2vw;
  width: 62.5vw;
  height: 27.7vh;
}

.text-2-mi{
  position: absolute;
  top: 339vh;
  left: 54.6vw;
  width: 13vw;
  height: 4.6vh;
  font-size: 3rem;
  text-align: center;
}

/*-----活動議題-----*/
.bg-7{
  width: 80vw;
  height: 94.3vh;
}

.bg-8{
  position: absolute;
  top: 347vh;
  left: 26vw;
  width: 41.6vw;
  height: 103.6vh;
}

.slider-div-3{
  position: absolute;
  top: 356.2vh;
  left: 0vw;
  width: 80vw;
  height: 94.3vh;
}

.r-2{
  position: relative;
  width: 80vw;
  height: 94.3vh;
}

.bg-9-img img{
  position: absolute;
  top: -2vh;
  left: 35.3vw;
  width: 31.2vw;
  height: 41.6vh;
}

.bg-24-img img{
  position: absolute;
  top: 45.5vh;
  left: 37.5vw;
  width: 31.2vw;
  height: 37vh;
}

.bg-25-img img{
  position: absolute;
  top: 39.5vh;
  left: 3.9vw;
  width: 26vw;
  height: 30.8vh;
}

.bg-26-img img{
  position: absolute;
  top: 8.1vh;
  left: 18.3vw;
  width: 28.6vw;
  height: 33.9vh;
}

.bg-10{
  position: absolute;
  top: 32.5vh;
  left: 65vw;
  width: 1.5vw;
  height: 32.4vh;
}

.left-bottom img{
  position: absolute;
  top: 69.4vh;
  left: 6.2vw;
  width: 10.4vw;
  height: 18.5vh;
}

.text-3{
  position: absolute;
  top: 28vh;
  left: 8.6vw;
  width: 31.2vw;
  height: 55.5vh;
}

.text-3-1{
  position: absolute;
  top: 12.5vh;
  left: 8.1vw;
  width: 31.2vw;
  height: 55.5vh;
}

.text-3-2{
  position: absolute;
  top: 30.6vh;
  left: 40.9vw;
  width: 31.2vw;
  height: 55.5vh;
  border: 1px solid #000000;
}

.text-3-3{
  position: absolute;
  top: 36.4vh;
  left: 38.3vw;
  width: 31.2vw;
  height: 55.5vh;
  border: 1px solid #000000;
}

.line-2-2 img{
  position: absolute;
  top: 50.3vh;
  left: 40.1vw;
  width: 31.2vw;
  height: 37vh;
}

.slider-nav{
  width: 80vw;
  height: 94.3vh;
}

.text-3-title{
  width: 23.4vw;
  height: 4.6vh;
  font-size: 3rem;
  margin-top: 7.3vh;
  margin-left: 2.6vw;
}

.text-3-p{
  width: 26vw;
  height: 27.7vh;
  margin-top: 12vh;
  margin-left: 2.8vw;
}

/*-----活動心得-----*/
.bg-11{
  width: 80vw;
  height: 160vh;
}

.bg-12{
  position: absolute;
  top: 450.4vh;
  left: 26vw;
  width: 41.6vw;
  height: 169.7vh;
}

.slider-div-2{
  position: absolute;
  top: 444.7vh;
  left: 0vw;
  width: 80vw;
  height: 111.1vh;
}

.r{
  position: relative;
  width: 80vw;
  height: 83.3vh;
}

.bg-13 img{
  position:absolute;
  top: 8.9vh;
  left: 13.5vw;
  width: 20.8vw;
  height: 54.4vh;
}

.bg-13-2 img{
  position:absolute;
  top: 14.1vh;
  left: 17.9vw;
  width: 31.2vw;
  height: 37vh;
}

.bg-13-3 img{
  position:absolute;
  top: 25.4vh;
  left: 19.8vw;
  width: 26vw;
  height: 30.8vh;
}

.bg-14 img{
  position: absolute;
  top: 15vh;
  left: 36.6vw;
  width: 15.6vw;
  height: 37vh;
}

.bg-14-2 img{
  position: absolute;
  top: 5.4vh;
  left: 51.6vw;
  width: 20.8vw;
  height: 54.4vh;
}

.bg-14-3 img{
  position: absolute;
  top: 51.2vh;
  left: 51.3vw;
  width: 20.8vw;
  height: 24.6vh;
}

.bg-15 img{
  position: absolute;
  top: 10.4vh;
  left: 54.5vw;
  width: 14.6vw;
  height: 46.2vh;
}

.text-6-title{
  position: absolute;
  top: 4.6vh;
  left: 3.4vw;
  width: 4.6vw;
  height: 55.5vh;
  font-size: 4rem;
  text-align: center;
}

.text-6-p{
  position: absolute;
  top: 57.7vh;
  left: 36.3vw;
  width: 28.6vw;
  height: 23.1vh;
}

.text-6-p-2{
  position: absolute;
  top: 56vh;
  left: 21vw;
  width: 28.6vw;
  height: 23.1vh;
}

.text-6-p-3{
  position: absolute;
  top: 7.2vh;
  left: 49.3vw;
  width: 22.2vw;
  height: 30.4vh;
}

.bg-12-1 img{
  position: absolute;
  top: 545.3vh;
  left: 6vw;
  width: 62vw;
  height: 55vh;
}

/*-----合作團隊-----*/
.bg-test{
  width: 80vw;
  height: 250vh;
}

.club{
  position: absolute;
  top: 23.7vh;
  left: 9.4vw;
  width: 39vw;
  height: 46.2vh;
}

.club-2{
  position: absolute;
  top: 5.5vh;
  left: 3.1vw;
  width: 31.2vw;
  height: 37vh;
}

.club-t{
  font-size: 3.125rem;
}


.club-tb{
  position: absolute;
  top: 30.1vh;
  left: 48.4vw;
  width: 22.3vw;
  height: 39.8vh;
}


.club-tb-ig-b{
  position: relative;
  width: 10.4vw;
  height: 4.6vh;
  margin: 342px 177px 38px 53px;
}

.club-tb-gold{
  position: absolute;
  top: 12.5vh;
  left: 36.6vw;
  width: 22.1vw;
  height: 11.4vh;
}

.club-t-2{
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 84px;
}

.club-b{
  position: absolute;
  margin-top: 76.9vh;
  margin-left: 35vw;
}

.club-p{
  width: 4.9vw;
  height: 4.8vh;
  display:block; 
  margin:auto;
  transform: rotate(180deg);
}

.dropbtn {
  padding: 16px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  width: 72.9vw;
  height: 250vh;
  margin-top: 76.9vh;
}

.dropbtn:hover, .dropbtn:focus {
  background-color:#191919;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 12vw;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
} 

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display:block;
}

.club-menber{
  padding: 16px;
  font-size: 1rem;
  width: 72.9vw;
  height: 250vh;
}

.club-triangle{
  position: absolute;
  top: 42.5vh;
  left: 3.1vw;
  width: 6.2vw;
  height: 11.1vh;
}

/*-----頁尾-----*/
.bg-18{
  position: relative;
  width: 80vw;
  height: 60.5vh;
}

.bg-19 img{
  position: absolute;
  top: 16.7vh;
  left: 7.4vw;
  width: 52vw;
  height: 13.8vh;
}

.bg-20 img{
  position: absolute;
  top: 40.4vh;
  left: 15.2vw;
  width: 52vw;
  height: 13.8vh;
}

.bg-21 img{
  position: absolute;
  top: 64vh;
  left: 7.4vw;
  width: 52vw;
  height: 13.8vh;
}

.bg-22{
  position: absolute;
  top: 6.2vh;
  left: 1.7vw;
  width: 62.5vw;
  height: 46.2vh;
}

.bg-23{
  position: absolute;
  top: 28.6vh;
  left: 52vw;
  width: 15.6vw;
  height: 18.5vh;
}

.line-3 img{
  position: absolute;
  top: -14.8vh;
  left: 59.4vw;
  width: 14.2vw;
  height: 41.9vh;
}

.text-7-title{
  position: absolute;
  left: 1vw;
  width: 10.4vw;
  height: 4vh;
  font-size: 2.25rem;
}

#t1{
  top: 6vh;
}

#t2{
  top: 22.9vh;
}

#t3{
  top: 41.8vh;
  left: 6.9vw;
  width: 52vw;
  height: 9.2vh;
  font-size: 1.5rem;
}

.fhsh img{
  position: absolute;
  top: 15.1vh;
  left: 10.8vw;
  width: 7.8vw;
  height: 11.1vh;
}

.fa img{
  position: absolute;
  top: 18.8vh;
  left: 20.9vw;
  width: 22vw;
  height: 7.4vh;
}

.human img{
  position: absolute;
  top: 15.5vh;
  left: 45.4vw;
  width: 12.3vw;
  height: 10.7vh;
}

.pan img{
  position: absolute;
  top: 31.2vh;
  left: 22.6vw;
  width: 20.6vw;
  height: 13.1vh;
}

.text-8-title{
  margin-top: 1.3vh;
  margin-left: 1.3vw;
  width: 13vw;
  height: 2.7vh;
  font-size: 1.5rem;
}

.text-8-p{
  margin: 1.4vh 2.6vw;
  width: 10.4vw;
  height: 2.7vh;
  text-align: center;
  font-size: 1.5rem;
}
